body{
    margin: 1;
    padding: 1;
    font-family: sans-serif;
    background-color:burlywood;
    
}
.container{
    width: 380px;
    height: 400px;
    overflow: hidden;
    margin: auto;
    margin: 30 0 0 460px;
    padding: 90px;
    background-color: grey;
    border-radius: 20px;
    

}
input[type="submit"]{
	border: none;
    outline: none;
    width: 300px;
	height: 40px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
    border-radius: 30% 30% 0 0;
}
input[type="submit"]:hover{
	cursor: pointer;
	background: #ffc107;
    color: #000;
}
h1{
    text-align: center;
    color: black;
    padding: 10px;
}
#uname{
    width: 380px;
    height: 35px;
    border: cornflowerblue;
    border-radius: 3px;
    padding-left: 12px;
}
#email{
    width: 380px;
    height: 35px;
    border: cornflowerblue;
    border-radius: 3px;
    padding-left: 12px;

}
#pwd{
    width: 380px;
    height: 35px;
    border: cornflowerblue;
    border-radius: 3px;
    padding-left: 12px;
}
#pwd-repeat{
    width: 380px;
    height: 35px;
    border: cornflowerblue;
    border-radius: 3px;
    padding-left: 12px;

}